<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ..\Config.wxi ?>
    <Fragment>
        <DirectoryRef Id="OPENCVDIR">
            <Component Id="cmpF71267706663B3F01852CE3FE6BFE9FB" Guid="*" Win64="$(var.Win64)">
                <File Id="fil7B682DE603466033194B655EF480AE68" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_annotation.exe" />
            </Component>
            <Component Id="cmp123456304586C519CEAF3F2930B0E5BD" Guid="*" Win64="$(var.Win64)">
                <File Id="fil61CC0DAE79566BFFD20771273AB42E11" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_calib3d481.dll" />
            </Component>
            <Component Id="cmpD9CA583FC7D1CED6C46D8D8BA2FFC623" Guid="*" Win64="$(var.Win64)">
                <File Id="fil4EE97E21DAA5B434D7CDF93BCAE5EC1A" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_calib3d481.pdb" />
            </Component>
            <Component Id="cmp37FEB3462AD95017C09BB4FB2AD44061" Guid="*" Win64="$(var.Win64)">
                <File Id="fil7A650A2E1F65BD248A85641AE816AB46" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_core481.dll" />
            </Component>
            <Component Id="cmp65F614070E72106BDBB994E5C221C380" Guid="*" Win64="$(var.Win64)">
                <File Id="fil352DE171ED53D65963C293A482DE4E49" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_core481.pdb" />
            </Component>
            <Component Id="cmp68216D4F90990F6633F9BD1E58FBDB68" Guid="*" Win64="$(var.Win64)">
                <File Id="filAF6073A989D6381D28D879DB62E16256" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_dnn481.dll" />
            </Component>
            <Component Id="cmp31BC719C7D49EB4EA22514564273AFD0" Guid="*" Win64="$(var.Win64)">
                <File Id="fil823548B9A79B563FCFACD84ADBACA492" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_dnn481.pdb" />
            </Component>
            <Component Id="cmp8BDA493B4733D01C87046287D4EBFA02" Guid="*" Win64="$(var.Win64)">
                <File Id="fil7B3E6A916DC3E9BE55F0117FD0A265CA" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_features2d481.dll" />
            </Component>
            <Component Id="cmp581EB3CD5BFA79927224596951C6429F" Guid="*" Win64="$(var.Win64)">
                <File Id="filF851759A744522B9A18DEAC454F5A86A" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_features2d481.pdb" />
            </Component>
            <Component Id="cmp97BE125D8E1338FDDB99160DA8973286" Guid="*" Win64="$(var.Win64)">
                <File Id="fil6BD610CE22C4E8B6D6D801026ABE0B60" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_flann481.dll" />
            </Component>
            <Component Id="cmp3CF7AE613C933E5F20932CD5588ED068" Guid="*" Win64="$(var.Win64)">
                <File Id="fil2DB8ADD092356286565E92A19CC69CD9" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_flann481.pdb" />
            </Component>
            <Component Id="cmp0E0FFBA33C8A93AB99C0B18A17AA267E" Guid="*" Win64="$(var.Win64)">
                <File Id="filD8241E7EFB45CC199A78FAD57E602329" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_gapi481.dll" />
            </Component>
            <Component Id="cmpF00228319BCE2188909166B0E289879C" Guid="*" Win64="$(var.Win64)">
                <File Id="filF9D20557D1AC620C072060AD64CE6ACD" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_gapi481.pdb" />
            </Component>
            <Component Id="cmp091883C4B9066B7EC061F4C03285D7EE" Guid="*" Win64="$(var.Win64)">
                <File Id="fil8CA0DD5F42A5DA27CA4D2445C2737D28" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_highgui481.dll" />
            </Component>
            <Component Id="cmp8B090121FDFB23E267A3003D3F54EDCD" Guid="*" Win64="$(var.Win64)">
                <File Id="fil44EA6810D6E894E1F62937BA3C01080B" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_highgui481.pdb" />
            </Component>
            <Component Id="cmp1C2D79AEDF1BE52AD34E29540BC69A40" Guid="*" Win64="$(var.Win64)">
                <File Id="fil2C69655AA41DFB12DEFE552BCC4BE708" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_imgcodecs481.dll" />
            </Component>
            <Component Id="cmp5EBBCC7799F1E47F27E143C0ACF1C1A5" Guid="*" Win64="$(var.Win64)">
                <File Id="fil411F8062F0B4ECE5874A115A216EE332" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_imgcodecs481.pdb" />
            </Component>
            <Component Id="cmpBB604FA6F481A80F372B69BF2EDDCBEC" Guid="*" Win64="$(var.Win64)">
                <File Id="fil9D40D60565AB0FF820226183B1389CA7" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_imgproc481.dll" />
            </Component>
            <Component Id="cmpBE97CB0ECE2708C1D191B9720F4959B3" Guid="*" Win64="$(var.Win64)">
                <File Id="fil0F8E47B950E964BF43BC1AF2CC28BA8E" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_imgproc481.pdb" />
            </Component>
            <Component Id="cmpCE1E7B7DC50A0EE36E5C4EAB4537F1A8" Guid="*" Win64="$(var.Win64)">
                <File Id="filC71E0678E142F3D8AFFA5CDF656BF842" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_interactive-calibration.exe" />
            </Component>
            <Component Id="cmp1E5125CC9F6FF7624CF3E8D983633EB1" Guid="*" Win64="$(var.Win64)">
                <File Id="filCCEF387D42E1538F607EDA74830F5D8A" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_ml481.dll" />
            </Component>
            <Component Id="cmp05A01030D2605B0DE459839A04D5FA4E" Guid="*" Win64="$(var.Win64)">
                <File Id="fil8964264C38C88A8DBC2F68D76A13AF4A" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_ml481.pdb" />
            </Component>
            <Component Id="cmpD1AE1D62BFB7759C73F184985084CA09" Guid="*" Win64="$(var.Win64)">
                <File Id="fil76496BBBC520BD4B61C13C900AAA0C2D" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_model_diagnostics.exe" />
            </Component>
            <Component Id="cmpF3FFE08186806BDAF97A36C2ABA988B8" Guid="*" Win64="$(var.Win64)">
                <File Id="fil26945492E8994691F94C9DD79B612407" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_objdetect481.dll" />
            </Component>
            <Component Id="cmpCA0B4CFD3135F793F893106E86773487" Guid="*" Win64="$(var.Win64)">
                <File Id="filCDE6DB05242C0D16B8240B4504C9147A" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_objdetect481.pdb" />
            </Component>
            <Component Id="cmp4264A5EA5D4537FFF48754263A0C8D34" Guid="*" Win64="$(var.Win64)">
                <File Id="fil36CC39D82E4F5DED8DF9EEBD8C779970" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_photo481.dll" />
            </Component>
            <Component Id="cmp48E5F2ACAEF33EE2F51BC52C43CACB07" Guid="*" Win64="$(var.Win64)">
                <File Id="filA12D27C020B2FCEC9BF2F7E3A9302628" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_photo481.pdb" />
            </Component>
            <Component Id="cmp8A5262BEDCF80D0613F578EFC00BEBD5" Guid="*" Win64="$(var.Win64)">
                <File Id="filA4F656B3D56036DE1B292D28D55B8992" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_stitching481.dll" />
            </Component>
            <Component Id="cmpF47AD46767A0491CEE52E97691DD7F70" Guid="*" Win64="$(var.Win64)">
                <File Id="fil9535046A906328A08FF9DA3F194E1922" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_stitching481.pdb" />
            </Component>
            <Component Id="cmpB94D6EFAAFB30C5C0F18F687C5FD155D" Guid="*" Win64="$(var.Win64)">
                <File Id="fil964ECABAAE41E93E6D897C0488C14E6D" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_version.exe" />
            </Component>
            <Component Id="cmp1E4F93AC4F133D7444441D237FBC551D" Guid="*" Win64="$(var.Win64)">
                <File Id="fil2637A941699D9503E1E7135F426D8B24" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_version_win32.exe" />
            </Component>
            <Component Id="cmp41A9B9A917BDF742CB75BBB3523EACC3" Guid="*" Win64="$(var.Win64)">
                <File Id="fil463283F6393B30E8D31EC331915FFFD0" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_video481.dll" />
            </Component>
            <Component Id="cmp5AB9F5949202CAF80AAAB42134AB9A0E" Guid="*" Win64="$(var.Win64)">
                <File Id="fil5DE8229707641EA677281FD843032DDD" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_video481.pdb" />
            </Component>
            <Component Id="cmp8DE130F7802F2F2D1C6CEA2DF28D046D" Guid="*" Win64="$(var.Win64)">
                <File Id="fil6DBB673E2D431D36833C95E6AE196567" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_videoio481.dll" />
            </Component>
            <Component Id="cmp379268D6E34BF317FE32A2AC6DA055E8" Guid="*" Win64="$(var.Win64)">
                <File Id="filD5525BA70A95D9075A2AE6B15553A42C" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_videoio481.pdb" />
            </Component>
            <Component Id="cmpCAA590F91FB21C27F2335F451F8FB09B" Guid="*" Win64="$(var.Win64)">
                <File Id="fil130A92FF7F168E340CC009F6C7DEE7C4" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_videoio_ffmpeg481_64.dll" />
            </Component>
            <Component Id="cmp99321901EB65BA4832EF3BD079C817DC" Guid="*" Win64="$(var.Win64)">
                <File Id="filFEE4F9B765375C5824996A145F8A2491" KeyPath="yes" Source="$(var.OpencvBuildDir)\opencv_visualisation.exe" />
            </Component>
		</DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="OpenCVGroup">
            <ComponentRef Id="cmpF71267706663B3F01852CE3FE6BFE9FB" />
            <ComponentRef Id="cmp123456304586C519CEAF3F2930B0E5BD" />
            <ComponentRef Id="cmpD9CA583FC7D1CED6C46D8D8BA2FFC623" />
            <ComponentRef Id="cmp37FEB3462AD95017C09BB4FB2AD44061" />
            <ComponentRef Id="cmp65F614070E72106BDBB994E5C221C380" />
            <ComponentRef Id="cmp68216D4F90990F6633F9BD1E58FBDB68" />
            <ComponentRef Id="cmp31BC719C7D49EB4EA22514564273AFD0" />
            <ComponentRef Id="cmp8BDA493B4733D01C87046287D4EBFA02" />
            <ComponentRef Id="cmp581EB3CD5BFA79927224596951C6429F" />
            <ComponentRef Id="cmp97BE125D8E1338FDDB99160DA8973286" />
            <ComponentRef Id="cmp3CF7AE613C933E5F20932CD5588ED068" />
            <ComponentRef Id="cmp0E0FFBA33C8A93AB99C0B18A17AA267E" />
            <ComponentRef Id="cmpF00228319BCE2188909166B0E289879C" />
            <ComponentRef Id="cmp091883C4B9066B7EC061F4C03285D7EE" />
            <ComponentRef Id="cmp8B090121FDFB23E267A3003D3F54EDCD" />
            <ComponentRef Id="cmp1C2D79AEDF1BE52AD34E29540BC69A40" />
            <ComponentRef Id="cmp5EBBCC7799F1E47F27E143C0ACF1C1A5" />
            <ComponentRef Id="cmpBB604FA6F481A80F372B69BF2EDDCBEC" />
            <ComponentRef Id="cmpBE97CB0ECE2708C1D191B9720F4959B3" />
            <ComponentRef Id="cmpCE1E7B7DC50A0EE36E5C4EAB4537F1A8" />
            <ComponentRef Id="cmp1E5125CC9F6FF7624CF3E8D983633EB1" />
            <ComponentRef Id="cmp05A01030D2605B0DE459839A04D5FA4E" />
            <ComponentRef Id="cmpD1AE1D62BFB7759C73F184985084CA09" />
            <ComponentRef Id="cmpF3FFE08186806BDAF97A36C2ABA988B8" />
            <ComponentRef Id="cmpCA0B4CFD3135F793F893106E86773487" />
            <ComponentRef Id="cmp4264A5EA5D4537FFF48754263A0C8D34" />
            <ComponentRef Id="cmp48E5F2ACAEF33EE2F51BC52C43CACB07" />
            <ComponentRef Id="cmp8A5262BEDCF80D0613F578EFC00BEBD5" />
            <ComponentRef Id="cmpF47AD46767A0491CEE52E97691DD7F70" />
            <ComponentRef Id="cmpB94D6EFAAFB30C5C0F18F687C5FD155D" />
            <ComponentRef Id="cmp1E4F93AC4F133D7444441D237FBC551D" />
            <ComponentRef Id="cmp41A9B9A917BDF742CB75BBB3523EACC3" />
            <ComponentRef Id="cmp5AB9F5949202CAF80AAAB42134AB9A0E" />
            <ComponentRef Id="cmp8DE130F7802F2F2D1C6CEA2DF28D046D" />
            <ComponentRef Id="cmp379268D6E34BF317FE32A2AC6DA055E8" />
            <ComponentRef Id="cmpCAA590F91FB21C27F2335F451F8FB09B" />
            <ComponentRef Id="cmp99321901EB65BA4832EF3BD079C817DC" />
        </ComponentGroup>
    </Fragment>
</Wix>