<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="PLUGINSDIR">
			<Component Id="ReadMe" Guid="*" Win64="$(var.Win64)">
				<File Id="ReadMeTXT"
				  Name="ReadMe.txt"
				  Source="..\..\Docs\Users\ReadMe.txt"
				  Vital="no" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
