<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Config.wxi ?>
	<Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeGuid)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<Media Id="1" Cabinet="StageInstrument.cab" EmbedCab="yes" />
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.ProgramFilesFolder)">
				<Directory Id="INSTALLDIR" Name="$(var.ProductName)">
					<Directory Id="OPENCVDIR" Name="opencv" />
					<Directory Id="UPDATERDIR" Name="updater" />
					<Directory Id="DOCSDIR" Name="docs" />
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="StageInstrumentMenuFolder" Name="$(var.ProductName)" />
			</Directory>
			<Directory Id="DesktopFolder" />
		</Directory>
		
		<Property Id="TASK_STARTMENUSHORTCUTS">1</Property>
		<Property Id="TASK_DESKTOPSHORTCUT">1</Property>
		
		<FeatureRef Id="StageInstrument" />

		<!-- TODO: Works this really? -->
		<Condition Message="WinMerge requires Windows 2000/XP/2003/Vista/2008 or later to install.">
			<![CDATA[( VersionNT <= 500 ) OR ( Version9x <> 0 )]]>
		</Condition>

		<!-- TODO: set related info later -->
		<!-- WixVariable Id="WixUILicenseRtf" Value="..\..\Docs\users\GPL.rtf" / -->
		<!-- WixVariable Id="WixUIBannerBmp" Value="Bitmaps\banner.bmp" / -->
		<!-- WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dialog.bmp" / -->
		<!-- Icon Id="Merge.ico" SourceFile="..\..\Src\res\Merge.ico"/ -->
		<!-- Property Id="ARPPRODUCTICON" Value="Merge.ico" / -->

		<UIRef Id="WixUI_StageInstrument" />

		<UI />
	</Product>
</Wix>
